source [find interface/matrix-creator.cfg]
transport select jtag 
adapter_khz 128


jtag newtap em358 cpu \
        -irlen 4\
        -ircapture 0x1\
        -irmask 0xf \
        -expected-id 0x3ba00477

jtag newtap em357 bs \
        -irlen 4 \
        -ircapture 0x0e \
        -irmask 0xf \
        -expected-id 0x069AA62B

jtag newtap xc6sxl4.fpga fpga \
	-irlen 6 \
	-ircapture 0x35 \
	-irmask 0x3f \
	-expected-id 0x24000093

jtag newtap sam3n.cpu cpu \
        -irlen 4\
        -ircapture 0x1\
        -irmask 0xf \
        -expected-id 0x4ba00477

target create sam3n.cpu cortex_m -endian little  -chain-position 3 
flash bank flash0 at91sam3 0x00400000 0 0 0 sam3n.cpu 

#source at91sam3nXX.cfg
init
halt
wait_halt
sleep 10
at91sam3 gpnvm set 1
flash info 0
flash probe 0                                                                   
flash verify_bank 0 blob/ch.bin 0
reset run
shutdown
