[Unit]
Description=MATRIX start up serivce (MATRIX Voice - MATRIX Creator)

[Service]
Type=oneshot
ExecStart=/usr/share/admobilize/matrix-creator/matrix-init.bash

[Install]
WantedBy=multi-user.target
