Source: matrix-creator-init
Section: embedded
Priority: optional
Maintainer: Admobilize <info@admobilize.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/matrix-io/matrix-creator-start-services

Package: matrix-creator-init
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, matrix-creator-openocd, wiringpi, xc3sprog
Description: Install scripts that can program the MATRIX Creator FPGA and SAM3 IMU.
 Install scripts that can program the MATRIX Creator FPGA and SAM3 IMU.
